body{
	  background:#F3F3DF;
	  text-align:center;
	  font-family:monospace;
	  color:#585858;
	  font-size:medium;
}
#Titulo{
	  font-family:fantasy;
	  text-align:center;
	  color:black;
}
.lista{
	  text-align:left;
}